.Home {
  animation: fadeIn ease-in-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  animation: dashIn 8s ease-in-out infinite;
}

@keyframes dashIn {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

.delay-line {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
  animation: dashInDelay 8s ease-in-out infinite;
  animation-delay: 550ms;
}

@keyframes dashInDelay {
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

@media (max-width: 768px) {
  .home-name-hole {
    height: 20vh;
  }
  .home-portrait-hole {
    height: 30vh;
  }
  .svg-corner-right {
    height: 25vh;
    width: 25vh;
    position: relative;
    top: 75%;
    right: 3%;
    justify-self: center;
    align-items: center;
  }
  .home-blurb-hole {
    height: 25vh;
    text-align: center;
  }
}
