.Projects {
  perspective: 1000px;
}

.carousel-bounce {
  animation: enterBottom ease-in-out 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: inherit;
}

@keyframes enterBottom {
  0% {
    transform: translateY(1500px);
  }
  80% {
    transform: translateY(-30px);
  }
  92% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
