.carousel {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carouselCell:nth-child(1) {
  transform: rotateY(0deg) translateZ(259.8px);
}
.carouselCell:nth-child(2) {
  transform: rotateY(60deg) translateZ(259.8px);
}
.carouselCell:nth-child(3) {
  transform: rotateY(120deg) translateZ(259.8px);
}
.carouselCell:nth-child(4) {
  transform: rotateY(180deg) translateZ(259.8px);
}
.carouselCell:nth-child(5) {
  transform: rotateY(240deg) translateZ(259.8px);
}
.carouselCell:nth-child(6) {
  transform: rotateY(300deg) translateZ(259.8px);
}

@media (max-width: 768px), (max-height: 500px) {
  .carousel {
    scale: 0.5;
  }

  .prev {
    right: 12rem;
    scale: 1.5;
  }
  .next {
    right: -14rem;
    scale: 1.5;
  }
}

@media (max-width: 500px) {
  .prev {
    top: 18rem;
    right: 4rem;
    scale: 1.5;
  }
  .next {
    top: 18rem;
    right: -5rem;
    scale: 1.5;
  }
}

.prevBtn,
.nextBtn {
  animation: btnFadeIn ease-in 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes btnFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
