.carousel {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carouselCell:nth-child(1) {
  transform: rotateY(0deg) translateZ(259.8px);
}
.carouselCell:nth-child(2) {
  transform: rotateY(60deg) translateZ(259.8px);
}
.carouselCell:nth-child(3) {
  transform: rotateY(120deg) translateZ(259.8px);
}
.carouselCell:nth-child(4) {
  transform: rotateY(180deg) translateZ(259.8px);
}
.carouselCell:nth-child(5) {
  transform: rotateY(240deg) translateZ(259.8px);
}
.carouselCell:nth-child(6) {
  transform: rotateY(300deg) translateZ(259.8px);
}

.prevBtn {
  text-shadow: 5px 5px 0px darkturquoise;
}

.nextBtn {
  background-image: radial-gradient(circle at center, #67e8f9 0, #EC4899 100%);
}

// @mixin gradient-animation( $start, $end, $transTime, $content ) {
//   background-size: 100%;
//   background-image: linear-gradient($start, $end);
//   position: relative;
//   z-index: 100;
  
//   &:after {
//     background-image: linear-gradient($end, $start);
//     content: $content;
//     display: block;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     width: 100%;
//     z-index: -100;
//     transition: opacity $transTime;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
//   &:hover {
//     &:after {
//       opacity: 1;
//     }
//   }
// }

// .prevBtn {
//   @include gradient-animation(red, blue, 1s, "\f230");
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .nextBtn {
//   @include gradient-animation(green, orange, 1s, "\f230");
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }