.carousel {
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carouselCell:nth-child(1) {
  transform: rotateY(0deg) translateZ(259.8px);
}
.carouselCell:nth-child(2) {
  transform: rotateY(60deg) translateZ(259.8px);
}
.carouselCell:nth-child(3) {
  transform: rotateY(120deg) translateZ(259.8px);
}
.carouselCell:nth-child(4) {
  transform: rotateY(180deg) translateZ(259.8px);
}
.carouselCell:nth-child(5) {
  transform: rotateY(240deg) translateZ(259.8px);
}
.carouselCell:nth-child(6) {
  transform: rotateY(300deg) translateZ(259.8px);
}

/* .prevBtn {
  text-shadow: 5px 5px 0px darkturquoise;
}

.nextBtn {
  background-image: radial-gradient(circle at center, #67e8f9 0, #EC4899 100%);
} */

.prevBtn, .nextBtn {
  animation: btnFadeIn ease-in 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes btnFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
