@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background-color: #583388;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bitter", serif;
}
